<br><h3>Fill Details!</h3><br>

<div class="center">
    <form class="form-inline" action="/action_page.php">
        <label for="email">Account Id: &nbsp;</label>
        <input type="number" class="form-control" placeholder="Enter Account Id" id="email">&nbsp;&nbsp;&nbsp;
        <label for="pwd">Amount: &nbsp;</label>
        <input type="number" class="form-control" placeholder="Enter Amount for Withdraw" id="pwd">&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" (click)="withdraw()">Withdraw Money</button>
      </form>
</div>
