<br>
<br>
<br>
<br>

<div class="container">
    <form #userForm="ngForm" >
        <input type="number" ngModel name="userId" placeholder="Enter Your UserId"><br><br>
        <input type="password" bgModel name="password" placeholder="Enter Your Password"><br><br>
        <button type="button" class="btn btn-success" (click)="goToAdminPage()">SignIn as Admin</button>&nbsp;
        <button type="button" class="btn btn-success" (click)="goToCustomerPage()">SignIn as Customer</button>
    </form>
</div>
<router-outlet></router-outlet>