<h2>Nominee</h2>
<br>
<table border="3" class="center">
    <th>NomineeId</th>
    <th>Nominee_Name</th>
    <th>GovermentId</th>
    <th>Government_IdType</th>
    <th>PhoneNo</th>
    <th>Relation</th>
    <th>Action</th>
    <tr>
        <td>123</td>
        <td>Amit Sharma</td>
        <td>8989456122</td>
        <td>Adhar Id</td>
        <td>75469912547</td>
        <td>Father</td>
        <td>
           <div class="container">
               <button>Edit</button><br>
               <br><button>Delete</button>
           </div>
        </td>
    </tr>
    <tr>
        <td>123</td>
        <td>Amit Sharma</td>
        <td>8989456122</td>
        <td>Adhar Id</td>
        <td>75469912547</td>
        <td>Father</td>
        <td>
            <div class="container">
                <button>Edit</button><br>
                <br><button>Delete</button>
            </div>
         </td>
    </tr>
    
</table>