<h2>Beneficiary</h2>
<br>
<table border="3" class="center">
    <th>
        BeneficiaryId
    </th>
    <th>
        BeneficiaryName
    </th>
    <th>
        BeneficiaryAccountNo
    </th>
    <th>
        IFSC Code
    </th>
    <th>
        AccountType
    </th>
    <th>
        Action
    </th>
    <tr>
        <td>
            123231
        </td>
        <td>
            Venkatesh Kumar
        </td>
        <td>2223456877</td>
        <td>SBI0023451</td>
        <td>Saving Account</td>
        <td>
            <div class="container">
                <button>Edit</button><br>
                <br><button>Delete</button>
            </div>
         </td>
    </tr>
    <tr>
        <td>
            123231
        </td>
        <td>
            Venkatesh Kumar
        </td>
        <td>2223456877</td>
        <td>SBI0023451</td>
        <td>Saving Account</td>
        <td>
            <div class="container">
                <button>Edit</button><br>
                <br><button>Delete</button>
            </div>
         </td>
    </tr>
    <tr>
        <td>
            123231
        </td>
        <td>
            Venkatesh Kumar
        </td>
        <td>2223456877</td>
        <td>SBI0023451</td>
        <td>Saving Account</td>
        <td>
            <div class="container">
                <button>Edit</button><br>
                <br><button>Delete</button>
            </div>
         </td>
    </tr>
</table>