h2{
    background-color: red;
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
}
.tablecss{
    background-color:lightblue;
    width: 50%;
    border-color: navy;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th{
    height: 20px;
}
.container{
    text-align: center;
}