
<h2>Admin Page</h2><br>
<table class="container">
    <tr>
        <td>
            <button type="button" class="btn btn-primary" routerLink="adminAdmin">Admin</button>
        </td>
        <td>
            <button type="button" class="btn btn-primary" routerLink="adminCustomer">Customer</button>
        </td>
        <td>
            <button type="button" class="btn btn-primary" routerLink="adminAccount">Account</button>
        </td>
        <td>
            <button type="button" class="btn btn-primary" routerLink="adminUser">User</button>
        </td>
        <td>
            <button type="button" class="btn btn-primary" routerLink="signOut">SignOut</button>
        </td>
    </tr>
</table>


<router-outlet></router-outlet>
<app-footer></app-footer>
