<br>
<h3>Registration</h3>
<br>
<table border="3" class="center">
    <tr>
        <td>
            Create UserId
        </td>
        <td>
            <input type="number" name="userId" placeholder="Enter UserId">
        </td>
    </tr>
    <tr>
        <td>
            Give Password
        </td>
        <td>
            <input type="password" name="password" placeholder="Enter Password">
        </td>
    </tr>
    <tr>
        <td>
            Confirm Password
        </td>
        <td>
            <input type="number" name="confirmpassword" placeholder="Again Fill">
        </td>
    </tr>
    <tr>
        <td>
            Role
        </td>
        <td>
            <input type="text" name="role" placeholder="Give Customer">
        </td>
    </tr>
</table>
<br>
<div class="container">
    <button (click)="saveData()">Submit Data</button>
</div>