<h3>Fill Details!</h3>
<table border="3" class="center">
    <tr>
        <td>Sender Account Id</td>
        <td><input type="number" name="senderAccountId" placeholder="Enter your accountId"></td>
    </tr>
    <tr>
        <td>Receiver Account Id</td>
        <td><input type="number" name="receiverAccountId" placeholder="Enter receiver accountId"></td>
    </tr>
    <tr>
        <td>Amount for Transfer</td>
        <td><input type="number" name="amount" placeholder="Trnasfered Money"></td>
    </tr>
</table>
<br>
<div class="container">
    <button (click)="transfer()">Transfer</button>
    </div>