.center{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: mediumturquoise;
}
h3{
    text-align: center;
    background-color: darkgreen;
    width: 60%;
    font-style: italic;
    margin-left: 20%;
    font-family: "Times New Roman", Times, serif;
    color: white;
}
.container{
    text-align: center;
}