<h2>Account Operations</h2>
<table border="3" class="center">
    <tr>
        <td>
            <span style="text-align: center; display: block;">
                <button routerLink="transferMoney" class="button">TransferMoney</button>
              </span>
        </td>

        <td>
            <span style="text-align: center; display: block;">
                <button routerLink="withdrawMoney" class="button">WithdrawMoney</button>
            </span>
        </td>
   
       <td>
        <span style="text-align: center; display: block;">
            <button routerLink="depositMoney" class="button">DepositMoney</button>
          </span>
       </td>
    </tr>
</table>
<router-outlet></router-outlet>