h2{
    text-align: center;
    color: darkblue;
    width: 60%;
    background-color: lightpink;
    font-style: italic;
    margin-left: 20%;
}
.center{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: chartreuse;
    color: black;
}
table{
    width: 10%;
}
tr{
    height: 70px;
    color: black;
}
.button {
    background-color:lightseagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }