<br><h2>Account Operations</h2><br>
<table  class="center">
    <tr>
        <td>
              <button type="button" class="btn btn-primary" (click)="goToTransferMoney()">TransferMoney</button>
        </td>

        <td>
            <button type="button" class="btn btn-danger" (click)="goToWithdrawMoney()">WithdrawMoney</button>
        </td>
   
       <td>
          <button type="button" class="btn btn-success" (click)="goToDepositMoney()">DepositMoney</button>
       </td>
    </tr>
</table>