h2{
    text-align: center;
    color: darkblue;
    width: 60%;
    background-color: lightpink;
    font-style: italic;
    margin-left: 20%;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
    
    
table{
    width: 40%;
}
tr{
    height: 70px;
    color: black;
}
