<h2>Customer Page</h2>
<table border="3" class="center">
  <tr>
    <td>
      <span style="text-align: center; display: block;">
        <button routerLink="account" class="button">Account</button>
      </span>
    </td>
    <td>
      <span style="text-align: center; display: block;">
        <button routerLink="transaction" class="button">Transaction</button>
      </span>
    </td>
    <td>
      <span style="text-align: center; display: block;">
        <button routerLink="beneficiary" class="button">Beneficiary</button>
      </span>
    </td>
    <td>
      <span style="text-align: center; display: block;">
        <button routerLink="nominee" class="button">Nominee</button>
      </span>
    </td>
    <td>
      <span style="text-align: center; display: block;">
        <button routerLink="myProfile" class="button">MyProfile</button>
      </span>
    </td>
    <td>
      <span style="text-align: center; display: block;">
        <button routerLink="signOut" class="button">SignOut</button>
      </span>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>