<h2>Customer Page</h2><br>
<table  class="center">
  <tr>
    <td>
     
      <button type="button" class="btn btn-warning" routerLink="account" >Account</button>
    </td>
    <td>
      <button type="button" class="btn btn-warning" (click)="goToTransaction()" >Transaction</button>
    </td>
    <td>
      <button type="button" class="btn btn-warning" (click)="goToBeneficiary()">Beneficiary</button>
    </td>
    <td>
      <button type="button" class="btn btn-warning" (click)="goToNominee()">Nominee</button>
    </td>
    <td>
      <button type="button" class="btn btn-warning" (click)="goToMyProfile()">MyProfile</button>
    </td>
    <td>
      <button type="button" class="btn btn-warning" routerLink="signOut">SignOut</button>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>